<%= form_for [topic, comment] do |f| %>
	<%= f.text_area :description, placeholder: "What's up...", cols: 60, rows: 4, class: 'text_area_comment' %>
	<%= f.hidden_field :user_id, value: "#{current_user.id}" %>
  <p><%= f.submit nil, class: 'btn' %></p>
<% end %>