<h2>Listing comments</h2>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.description %></td>
    <td><%= link_to 'Edit', edit_topic_comment_path(id: comment) %></td>
    <td><%= link_to 'Destroy', topic_comment_path(id: comment), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_topic_comment_path %>