<%= form_for [gallery, document], html: {multipart: true} do |f| %>
	<div class='new_document'>
		<%= f.text_field :name, placeholder: 'Document name' %>
		<%= f.file_field :document, class: 'input-file' %>
	  <%= f.submit nil, class: 'btn btn-custom' %>
	</div>
<% end %>