<%= form_for gallery, html: { class: "form-inline #{other_classes.to_s}" } do |f| %>
  <%= f.text_field :name, class: 'text_field title_field', placeholder: 'Name' %>
  <%= f.text_field :description, class: 'text_field description_field', placeholder: 'Description' %>
  <div class='visibile_mobile'><%= f.submit nil, class: 'btn btn_field' %></div>
<% end %>