<h2>Galleries</h2>

<%= render 'shared/error_messages', object: @gallery %>
<%= render 'galleries/form', gallery: Gallery.new %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="25%">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render @galleries %>
  </tbody>
</table>